@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --fib-1: 16px;
  --fib-2: 25.89px;
  --fib-3: 41.89px;
  --fib-4: 67.78px;

  --yellow: #fff500;
  --blue: #3485bc;
  --sky: #7dcdd6;
  --green: #8dc84a;
}

.button {
  background: linear-gradient(
    82deg,
    rgba(52, 133, 188, 1) 0%,
    rgba(141, 200, 74, 1) 100%
  );
  width: 250px;
  height: 25px;
  color: #fff;
  font-size: var(--fib-1);
  border: solid 1px black;
  border-radius: 0 5px 5px 0;
}

#path_488 {
  border: 1px solid red;
  transition: all 1s ease;
  transform: translateY(-500px);
}

.header {
  position: relative;

  z-index: 1;
}

.scene {
  transform: translateY(-100px);
  position: relative;
  z-index: 4;
}
