@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --fib-1: 16px;
  --fib-2: 25.89px;
  --fib-3: 41.89px;
  --fib-4: 67.78px;

  --yellow: #fff500;
  --blue: #3485bc;
  --sky: #7dcdd6;
  --green: #8dc84a;
}
body {
  background: var(--green);
}
.button {
  background: linear-gradient(
    82deg,
    rgba(52, 133, 188, 1) 0%,
    rgba(141, 200, 74, 1) 100%
  );
  width: 250px;
  height: 25px;
  color: #fff;
  font-size: var(--fib-1);
  border: 0px solid white;
  border-radius: 5px;
}

.header {
  position: relative;
  z-index: 1;
}

.scene {
  position: relative;
  z-index: 4;
}

.news:before {
  content: "";
  width: 100%;
  height: 200px;
  background: #3485bc;
  clip-path: polygon(29% 86%, 68% 92%, 100% 84%, 100% 100%, 0 100%, 0 90%);
  position: absolute;
  z-index: 1;
  font-weight: 200;
  font-size: 20px;
  top: -199px;
}
.news:after {
  content: "";
  width: 100%;
  height: 200px;
  background: #8985cc;
  clip-path: polygon(35% 21%, 76% 13%, 100% 22%, 100% 0, 0 0, 0 15%);
  position: absolute;
  z-index: 55;
  font-weight: 200;
  font-size: 20px;
  bottom: -199px;
}
a:visited {
  color: #fff500;
}
